<div class="container" style="background-color: white;">
  <div class="col-12 col-lg-6">
    <div class="background-home">
      <%= render 'shared/profile' %>
      <%= render 'shared/categories' %>
      <%= render 'shared/user_posts' %>
    </div>
  </div>
</div>
