<%# <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-plus"></i></a>
    <a href="#"><i class="fas fa-user"></i></a>  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
 %>
 <nav class="mobile-nav">
        <a href="#" class="bloc-icon">
            <i class="fas fa-home"></i>
        </a>
        <a href="#" class="bloc-icon">
            <i class="fas fa-plus"></i>
        </a>
        <a href="#" class="bloc-icon">
            <i class="fas fa-user"></i>
        </a>
    </nav>
