<%# <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-plus"></i></a>
    <a href="#"><i class="fas fa-user"></i></a>  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
 %>
 <nav class="mobile-nav">
        <%= link_to posts_path do %>
            <i class="fas fa-home"></i>
        <% end %>
        <%= link_to new_post_path do %>
            <i class="fas fa-plus"></i>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user) do %>
            <i class="fas fa-user"></i>
          <% end %>
        <% else %>
           <%= link_to new_user_session_path do %>
            <i class="fas fa-user"></i>
          <% end %>
        <% end %>
  </nav>
