<div class="new-user-container" style="background-color: white;">
    <h2><em>What did you read about?</em></h2>
    <p style="margin-left: 100px">
    <span data-controller="typed-js"></span>
    </p>
  <div>
    <%= link_to new_post_path do %>
      <button type="button" class= "btn btn-flat-index" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Post</button>
    <% end %>
  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag('https://res.cloudinary.com/doubleuuser/image/upload/v1658553188/personalspace/Stuck_at_Home_-_Movie_Night_zhiaxw.png', width: 360) %>
      </div>
    </div>
  </div>
</div>
