<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <body class="background-home">
        <h1>Update Your Post</h1>
          <%= simple_form_for [ @post ] do |f| %>
            <%= f.input :note %>
            <%= f.input :original_url %>
            <%= f.submit "Update",  class: "btn btn-gradient"%>
          <% end %>
      </body>
    </div>
  </div>
</div>
