<div class="feed">
      <% @my_posts.each do |post| %>
      <%# <ul></ul> %>

          <div class="card-post">
            <h2><%= post.title %>
            <li><p><%= post.description %></p></li>
            <button class="btn btn-ghost"> <%= link_to "view", post_path(post) %></button>
          </div>

      <% end %>

      <button ><%= link_to "Add Post", new_post_path %></button>

    </div>
