.banner {
  background-color: white;
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url('https://res.cloudinary.com/doubleuuser/image/upload/v1658551633/personalspace/Stuck_at_Home_-_Sitting_On_Floor_colors_sk75a5.png');/* , linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))*/
  height: 450px; /* You must set a specified height */
  background-position: left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:cover; /* Resize the background image to cover the entire container */
  width: 100%;
  /* opacity: 80%; */
}

.banner h1 {
  /* color: #0746a4; */
  color: #1363DF;
  font-size: 32px;
  font-family: Helvetica, sans-serif;
  padding: 24px;
}

/* .banner h2 {
  color: #1363DF;
  font-size: 24px;
  text-align: right;
  font-family: Helvetica, sans-serif;
  padding: 24px;
  margin-top: 200px;
} */
