.btn-gradient {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  background: #3AB4F2;
  transition: background 0.3s ease;
  border: 1px solid #3AB4F2;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
}

.btn-gradient:hover {
  background: linear-gradient(#69aef8, #69aef8);
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-bottom: 12px;
}

.btn-ghost {
  color: white;
  border: 1px solid #3AB4F2;
  padding: 8px 24px;
  border-radius: 50px;
  background: linear-gradient(#69aef8, #69aef8);
  font-weight: lighter;
  /* opacity: 0.6; */
  transition: opacity 0.3s ease;
  margin-left: 150px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.btn-ghost a {
  text-decoration: none;
  color: white;
}

.btn-flat-centered {
  color:white;
  font-weight: bold;
  background: #2294e6;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-bottom: 14px;
  align-items: center;
  margin: 0 auto;
  display: block;
}

.btn-flat-centered a {
  text-decoration: none;
  color: white;
}

.btn-flat-index {
  color: white;
  border: 2px #76A9FA;
  background: #76A9FA;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-bottom: 12px;
  margin-top: 8px;
  margin-left: 150px;
  font-weight: bold;
}

.btn-flat-index a {
  text-decoration: none;
  color: white;
}

.btn-gradient a {
  text-decoration: none;
  color: white;
}

.form-submit-button {
  justify-content: center;
}

.btn-black {
  color: white;
  padding: 8px 64px;
  border-radius: 12px;
  font-weight: bold;
  background: #000000;
  transition: background 0.3s ease;
  border: 1px solid #000000;
  text-align: center;
  margin: 10px auto;
}

.btn-black a {
  text-decoration: none;
  color: white;
}

.btn-black-navbar {
  color: white;
  padding: 8px 32px;
  border-radius: 12px;
  font-weight: bold;
  background: #000000;
  transition: background 0.3s ease;
  border: 1px solid #000000;
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
}

.btn-Follow {
  color: white;
  padding: 4px ;
  border-radius: 8px;
  font-weight: bold;
  background-color: #5FD068;
  transition: background 0.3s ease;
 /*  border: 1px solid #000000; */
  text-align: center;
  margin: 10px auto;
}

.btn-unfollow {
  color: white;
  padding: 8px 64px;
  border-radius: 12px;
  font-weight: bold;
  background-color: #F9D923;
  transition: background 0.3s ease;
  /* border: 1px solid #000000; */
  text-align: center;
  margin: 10px auto;
}

.btn-ghost-show {
  color: white;
  border: 1px solid #3AB4F2;
  padding: 8px 24px;
  border-radius: 50px;
  background: linear-gradient(#69aef8, #69aef8);
  font-weight: lighter;
  /* opacity: 0.6; */
  transition: opacity 0.3s ease;
  margin-left: 150px;
  margin-bottom: 12px;
  margin-top: 12px;
}
