.card-product {
  overflow: hidden;
  height: 300px;
  width: 300px;
  background: linear-gradient( #1363DF 60%, white 40%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 4px;
  justify-content: center;
}

.card-product img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgb(255, 123, 0);
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  flex-wrap: wrap;
}


.card-product-show {
  overflow: hidden;
  height: 350px;
  background: linear-gradient( #1363DF 60%, white 40%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 8px;
  margin-left: 16px;
}

.card-product-infos-show {
  padding: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.card-product-infos-show-white-space {
  /* padding: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: auto; */
  margin-bottom: 12px;
}

.card-product-infos-show-white-space p {
  /* padding: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: auto; */
  margin-bottom: 24px;
}
.card-product-show img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  padding: 4px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 30px; */
}


.card-index {
  overflow: hidden;
  height: 270px;
  width: 300px;
  background: linear-gradient( #1363DF 70%, white 30%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 4px;
  justify-content: center;
}

.card-index img {
  width: 100%;
  height: 80px;
  object-fit: contain;
  padding: 4px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-bottom: 12px;
  color: white;
}

.card-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 8px;
}

.card-index .card-index-infos {
  padding: 16px;
  margin: 8px;
}

.index-page-infos img {
  width: 100%;
  height: 40px;
}
.card-product-show-page {
  overflow: hidden;
  height: 270px;
  width: 300px;
  background: linear-gradient( #1363DF 60%, white 40%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 4px;
  justify-content: center;
}
