.card-product {
  overflow: hidden;
  height: 200px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 4px;
}

.card-product img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgb(255, 123, 0);
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  flex-wrap: wrap;
}


.card-product-show {
  overflow: hidden;
  height: 300px;
  background: #ffb77c;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 8px;
}

.card-product-infos-show {
  padding: 16px;
  flex-wrap: wrap;
}

.card-product-img-show {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 4px;
  border-radius: 4px;
}
