.petscontainer {
  display: flex; /* or inline-flex */
  justify-content: space-between;
}

.card-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.container-index {
  display: flex;
  margin: auto;
  background: #FFC65A;
}

.create-pet {
  align-items: center;
}

.index-container {
/*   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  background-color: white;
 /*  margin-top: 2vw;
  padding-top: 2em;
  align-content: flex-start; */
}

.form-container {
  background-color: #ffa45a;
  align-items: center;
  text-align: center;
  margin-top: 4vw;
  margin-left: 4vw;
  margin-right: 4vw;
  font-weight:lighter;
  font-style: italic;
  font-size:1.2em;
  padding-bottom: 1em;
}

.index-banner-container {
  display: flex;
  background-color: #f9bc89;

}

.index-top-container {
  margin-top: 2vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

.mypets-container {
  background-color: #f9bc89;
}

/* .bookings-container {
  /* background-color: #f9bc89; */
  /* display: flex; } */


.bookings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f9bc89;
  margin-top: 2vw;
  padding-top: 2em;
}

.home-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my-posts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}


.banner {
  background-color: white;
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url('https://res.cloudinary.com/doubleuuser/image/upload/v1658551633/personalspace/Stuck_at_Home_-_Sitting_On_Floor_colors_sk75a5.png');
  height: 600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:cover; /* Resize the background image to cover the entire container */
  width: auto;

}

.banner h1 {
  color: blue;
  font-size: 32px;
  font-family: Helvetica, sans-serif;
  padding: 24px;

}

.banner h2 {
  color: blue;
  font-size: 24px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  padding: 24px;
}

.section-left {
  margin: 12px;
  background-color: white;
  display: block;
  align-items:stretch;
  padding-left: 24px;
  padding-right: 24px;

  width: auto;
  box-shadow: 8px 8px 0 0 blue



}

.section {
  margin: 12px;
  background-color: white;
  display: block;
  align-items:stretch;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 4px solid blue;
}

.section-image  {
  margin: 0;
  padding: 0;
}

.section-text h1 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 24;
  color: blue;
  padding: 24px;
}

.section-text h2 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 16;
  color: blue;
  padding: 24px;
}
