.petscontainer {
  display: flex; /* or inline-flex */
  justify-content: space-between;
}

.card-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.container-index {
  display: flex;
  margin: auto;
  background: #FFC65A;
}

.create-pet {
  align-items: center;
}

.index-container {
/*   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  background-color: white;
 /*  margin-top: 2vw;
  padding-top: 2em;
  align-content: flex-start; */
}

.form-container {
  background-color: #ffa45a;
  align-items: center;
  text-align: center;
  margin-top: 4vw;
  margin-left: 4vw;
  margin-right: 4vw;
  font-weight:lighter;
  font-style: italic;
  font-size:1.2em;
  padding-bottom: 1em;
}

.index-banner-container {
  display: flex;
  background-color: #f9bc89;

}

.index-top-container {
  margin-top: 2vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

.mypets-container {
  background-color: #f9bc89;
}

/* .bookings-container {
  /* background-color: #f9bc89; */
  /* display: flex; } */


.bookings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f9bc89;
  margin-top: 2vw;
  padding-top: 2em;
}

.home-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my-posts-container {
  display: block;
  // align-items: center;
  // justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.section-left {
  margin: 12px;
  background-color: white;
  display: block;
  align-items:stretch;
  padding-left: 24px;
  padding-right: 24px;
  width: auto;
  box-shadow: 8px 8px 0 0 blue
}

.section {
  margin: 12px;
  background-color: white;
  display: block;
  align-items:stretch;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: #1363DF;
}

.section-image  {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  text-align: center;
  /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)); */
}

.section-text h1 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 24;
  color: #1363DF;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
}

.section-text h2 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 16;
  color: #1363DF;
  padding: 24px;
}

.original-title {
  text-align: left;

}

.original-image {
  max-height: 300px;
  text-align: center;
  padding-bottom: 12px;
}

.user-post {
  display: block;
}

.icons-all {
  display: flex;
  justify-content: space-between;
}

.icons-creator {
  justify-self: end;
}

.icons-general {
  justify-self: end;
}

.new-user-container {
  justify-content: center;
  padding-top: 32px;
  margin-top: 12px;
  border-radius: 8px;
}

.profile-header.result {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
